@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-inter: "Inter", sans-serif;
  --color-primary: #5a827e;
  --color-secondary: #84ae92;
  --color-accent: #ffffff;
  --color-section: #f0f0ed;
  --color-background: #b9d4aa;
  --text-title: 1.5rem;
  --text-large: 1.25rem;
  --text-base: 1rem;
  --text-small: 0.875rem;
  --text-xs: 0.75rem;

  --color-primary-50: #f0f5f4;
  --color-primary-100: #dde9e7;
  --color-primary-200: #c7dbd3;
  --color-primary-300: #a2bfb6;
  --color-primary-400: #7ca399;
  --color-primary-500: #5a827e;
  --color-primary-600: #4a6f6b;
  --color-primary-700: #3a5954;
  --color-primary-800: #2a443d;
  --color-primary-900: #1a2f26;

  --color-secondary-50: #f2f7f3;
  --color-secondary-100: #e3efe6;
  --color-secondary-200: #cbe0d0;
  --color-secondary-300: #b0d1b9;
  --color-secondary-400: #97c2a3;
  --color-secondary-500: #84ae92;
  --color-secondary-600: #6d9477;
  --color-secondary-700: #567a5c;
  --color-secondary-800: #406b43;
  --color-secondary-900: #2a422a;
}

@layer utilities {
  .button {
    @apply hover:bg-secondary text-slate-950 hover:text-accent font-semibold px-6 py-2 max-w-sm border border-primary rounded-md transition-colors;
  }

  .comm-section {
    @apply w-full max-w-3xl p-4 bg-section rounded-lg shadow-md;
  }

  .card-title {
    @apply font-extrabold text-slate-950;
  }

  .comm-type-card {
    @apply flex flex-col gap-2 p-4 bg-secondary-100 rounded-lg shadow-md hover:bg-secondary-200 transition-colors;
  }
}

@layer base {
  :root {
    font-family: var(--font-inter) !important;
  }
}
